<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zljin.flashbuy.mapper.UserPasswordMapper">

    <resultMap id="BaseResultMap" type="com.zljin.flashbuy.domain.UserPassword">
            <id property="id" column="id" />
            <result property="encrptPassword" column="encrpt_password" />
            <result property="userId" column="user_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,encrpt_password,user_id
    </sql>
</mapper>
